{% extends 'blog/base.html' %}

{% block content %}

<h2 class="mb-4">Latest Posts</h2>

{% for post in posts %}
<div class="card p-4 mb-4 shadow-sm">
    <small class="text-muted">
        {{ post.published_date|date:"F d, Y" }}
    </small>

    <h3 class="mt-2">{{ post.title }}</h3>

    <p>{{ post.text|truncatewords:30 }}</p>

    <div class="d-flex justify-content-between">
        <a href="{% url 'post_detail' post.pk %}" 
           class="btn btn-primary">
           Read More →
        </a>

        <a href="{% url 'like_post' post.pk %}" 
           class="text-danger fw-bold">
           ❤️ {{ post.likes }}
        </a>
    </div>
</div>
{% empty %}
<p>No posts available.</p>
{% endfor %}

{% endblock %}